.prohibit{
  pointer-events: none;
}

div,span{
  font-size: 27px;
}

body, div, aside, article, ul, dl, dt, dd, li, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;

  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  // font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-family: -apple-system,Helvetica,sans-serif;
  
  &:focus {
      outline: none;
  }
}


